<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-niceid" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NiceId</name>

    <!-- android -->
    <platform name="android">
        <js-module name="NiceId" src="www/niceid.js">
            <clobbers target="cordova.plugins.niceid" />
        </js-module>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NiceId">
                <param name="android-package" value="org.apache.cordova.niceid.NiceId" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
	<activity android:name="org.apache.cordova.niceid.CertificationWebActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.NoActionBar" android:windowSoftInputMode="adjustResize|stateHidden" android:exported="false" />
        </config-file>
        <source-file src="src/android/NiceId.java" target-dir="src/org/apache/cordova/niceid" />
        <source-file src="src/android/CertificationWebActivity.java" target-dir="src/org/apache/cordova/niceid" />
        <source-file src="src/android/MobileCertification.java" target-dir="src/org/apache/cordova/niceid" />
        <source-file src="src/android/BarcodeActivity.java" target-dir="src/org/apache/cordova/niceid" />
        <source-file src="src/android/QRCodeData.java" target-dir="src/org/apache/cordova/niceid" />
<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-niceid" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NiceId</name>

    <!-- android -->
    <platform name="android">
        <js-module name="NiceId" src="www/niceid.js">
            <clobbers target="cordova.plugins.niceid" />
        </js-module>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NiceId">
                <param name="android-package" value="org.apache.cordova.niceid.NiceId" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
	<activity android:name="org.apache.cordova.niceid.CertificationWebActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.NoActionBar" android:windowSoftInputMode="adjustResize|stateHidden" android:exported="false" />
        </config-file>
        <source-file src="src/android/NiceId.java" target-dir="src/org/apache/cordova/niceid" />
        <source-file src="src/android/CertificationWebActivity.java" target-dir="src/org/apache/cordova/niceid" />
        <source-file src="src/android/MobileCertification.java" target-dir="src/org/apache/cordova/niceid" />
        <source-file src="src/android/BarcodeActivity.java" target-dir="src/org/apache/cordova/niceid" />
        <source-file src="src/android/QRCodeData.java" target-dir="src/org/apache/cordova/niceid" />

        <source-file src="src/android/activity_barcode.xml" target-dir="res/layout" />
        <source-file src="src/android/custom_barcode_scanner.xml" target-dir="res/layout" />

        <framework src="com.google.code.gson:gson:2.9.1" />
        <framework src="com.journeyapps:zxing-android-embedded:3.6.0" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module name="NiceId" src="www/niceid.js">
            <clobbers target="cordova.plugins.niceid" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="NiceId">
                <param name="ios-package" value="NiceId" />
            </feature>
        </config-file>
        <source-file src="src/ios/NiceId.swift" />
        <source-file src="src/ios/WebViewController.swift" />

    </platform>

</plugin>

        <framework src="com.google.code.gson:gson:2.9.1" />
        <framework src="com.journeyapps:zxing-android-embedded:3.6.0" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module name="NiceId" src="www/niceid.js">
            <clobbers target="cordova.plugins.niceid" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="NiceId">
                <param name="ios-package" value="NiceId" />
            </feature>
        </config-file>
        <source-file src="src/ios/NiceId.swift" />
        <source-file src="src/ios/WebViewController.swift" />
        
    </platform>
       
</plugin>
