<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-niceid" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NiceId</name>

    <!-- android -->
    <platform name="android">
        <js-module name="NiceId" src="www/niceid.js">
            <clobbers target="cordova.plugins.niceid" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NiceId">
                <param name="android-package" value="org.apache.cordova.niceid" />
            </feature>
        </config-file>

        <source-file src="src/android/CertificationWebActivity.java" target-dir="src/org/apache/cordova/niceid" />
        <source-file src="src/android/NiceId.java" target-dir="src/org/apache/cordova/niceid" />
    </platform>
       
</plugin>
